doctype
html
  head
    link(rel="stylesheet" href="stylesheets/main.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js")
    script(src="/scripts/cookie.js")
  body
    != yield
    script(src="/scripts/app.js")
