!= partial("_shared/_navbar.jade")
#content
    .content-body
        p
            | Need design work? A new logo? A whole marketing campaign?
            | DIDA&#8217;s got you covered. DIDA is a student-run full-service
            | marketing group, staffed by talented Dukies who can help you meet
            | your marketing goals. 
        p
            | We are pleased to announce that DIDA is new and improved.
            | There are 3 main changes that we have implemented.
        hr
        .row
          .col-md-4
            .number 1.
            p.descriptor.pull-left
                strong DIDA has a new look.
                br
                | Our new branding is consistent
                | with our mission to be as bold and as flexible as we can
                | in our work and our operations.
            .clearfix
          .col-md-4
            .number 2.
            p.descriptor.pull-left
                strong We have expanded our service offerings.
                br
                | DIDA now offers wide-ranging services in areas such as branding,
                | graphic design, marketing strategy, web design, and multimedia
                | production. We have the capability of handling large
                | multifaceted projects that span various media.  
            .clearfix
          .col-md-4
            .number 3.
            p.descriptor.pull-left
                strong DIDA now serves all recognized Duke organizations.
                br
                | This includes undergraduate and graduate student groups,
                | and Duke departments and offices.
        hr
        p
            | Please note that DIDA cannot guarantee acceptance of all
            | projects. New project requests will be evaluated each week
            | by our project management team, and will be assigned based
            | on availability. If the project management team determines
            | DIDA cannot meet your requested deadline due to current work
            | load and capacity limitations, we will contact you to discuss
            | the deadline and the determine the status of your project.
        p
            | DIDA services are free to the university community. The client
            | will be responsible for all costs associated with production,
            | printing, hosting, and other related project costs beyond payment to DIDA student workers. ​
        p
            | If you would like to inquire about DIDA services please submit an 
            a(href="/about.html") official request
            | . For other questions email us at 
            a(href="mailto:dida@duke.edu") dida@duke.edu
