!= partial("_shared/_navbar.jade")
#content
	.pane
		.container-fluid
			.row-fluid
				.col-sm-3
					p
						| DIDA is Duke University’s student-staffed design and marketing agency. We serve Duke organizations, helping them establish their brands and tell their stories by offering creative design and marketing solutions tailored to the Duke environment.