.pane
  #home
    #logo-home
      img(src="images/logo.svg", alt="")
    #tagline.text-center Duke University's Creative Design Agency
    != partial("_shared/_navbar_home.jade")
  #splash
    != partial("splash.jade")

script (type='text/javascript').
    $('button#skip').on('click', function() {
        removeSplash();
    });

    // Hide both panes, we'll selectively
    // show which one we want later
    $('#home').hide();
    $('#splash').hide();
    
    // Check for user cookies
    if (Cookie.test()) {
        // Returning User
        if (Cookie.get('cookies')) {
            $('#home').fadeIn(1000);
        }
        // Previous User
        else {
            Cookie.set('cookies','true');
            $('#splash').fadeIn();
            setTimeout(function(){
                removeSplash();
            }, 10000);
        }
    }

    // Remove the splash dialog and fade
    // in the home page.
    var removeSplash = function() {
        $('#splash').fadeOut();
        $('#home').fadeIn();
    }

