.pane
  #home
    #logo-home
      img(src="images/logo.svg", alt="")
    #tagline.text-center Duke University's Creative Design Agency
    != partial("_shared/_navbar_home.jade")
  #splash
    != partial("splash.jade")

script (type='text/javascript').
    $('#home').hide();
    $('#splash').hide();
    if (Cookie.test()) {
        // Returning User
        if (Cookie.get('cookies')) {
            $('#home').fadeIn();
        }
        // Previous User
        else {
            Cookie.set('cookies','true');
            $('#splash').fadeIn();
            setTimeout(function(){
                $('#splash').fadeOut();
                $('#home').fadeIn();
            }, 10000);
        }
    }