script(src="/scripts/portfolio.js")
script(src="/scripts/vendor/imagesLoaded.js")
script(src="/scripts/vendor/masonry.js")
!= partial("_shared/_navbar.jade")
#content
	.content-body
		.row
			#sub-nav.col-xs-3
				ul.main
					li Work
						ul#work-list.details
							li.active Print
							li Web
							li Campaigns
					li.active Team
						ul#team-list.details
							li.active Admin
							li Design
							li Web
							li Marketing
							li Copy
							li Alumni
			#display.col-xs-9
				#team.hide
					h4 Admin
					#admin
					h4 Design
					#design
					h4 Web
					#web
					h4 Marketing
					#marketing
					h4 Copy
					#marketing
					h4 Alumni
					#alumni
				#designs
					h4 Print
					#print
					h4 Websites
					#website.designs
						.design
							img.thumb(src="http://files.parsetfss.com/d81da369-638b-474d-b30c-86406fbb901d/tfss-9c0fea8f-8810-48a2-bafd-f6238e64e13b-Ashley_LDOC_Site_1.png")
							.info-wrapper						
								strong Website for LDOC
								br
								.designers
									span.names-prefix Designed by: 
									span.names Ashley Qian
						.design
							img.thumb(src="http://files.parsetfss.com/d81da369-638b-474d-b30c-86406fbb901d/tfss-9b5448d4-49d9-474a-a376-2884e8a399bd-Ann_LDOC_gradient.jpg")
							.info-wrapper
								strong Logo for LDOC 2014
								br
								img.designer(src="images/ann.png")
								br
								.designers
									span.names-prefix Designed by: 
									span.names Ann Niou
						.design
							img.thumb(src="http://files.parsetfss.com/d81da369-638b-474d-b30c-86406fbb901d/tfss-9b5448d4-49d9-474a-a376-2884e8a399bd-Ann_LDOC_gradient.jpg")
							.info-wrapper
								strong Logo for LDOC 2014
								br
								img.designer(src="images/ann.png")
								br
								.designers
									span.names-prefix Designed by: 
									span.names Ann Niou
						.design
							img.thumb(src="http://files.parsetfss.com/d81da369-638b-474d-b30c-86406fbb901d/tfss-9b5448d4-49d9-474a-a376-2884e8a399bd-Ann_LDOC_gradient.jpg")
							.info-wrapper
								strong Logo for LDOC 2014
								br
								img.designer(src="images/ann.png")
								br
								.designers
									span.names-prefix Designed by: 
									span.names Ann Niou		
					h4 Campaigns
					#campaign