script(src="/scripts/portfolio.js")
script(src="/scripts/vendor/imagesLoaded.js")
script(src="/scripts/vendor/masonry.js")
!= partial("_shared/_navbar.jade")
#content
	.content-body
		.row
			#sub-nav.col-xs-3
				ul.main
					li#work-item(data-target="work") Work
						ul#work-list.details
							li Print
							li Web
					li#list-item(data-target="team") Team
						ul#team-list.details
							li Admin
							li Design
							li Web
							li Marketing
							li Copy
							li Alumni
			#display.col-xs-9
				#team
					h4 Admin
					#admin
					h4 Design
					#design
					h4 Web
					#web
					h4 Marketing
					#marketing
					h4 Copy
					#copy
					h4 Alumni
					#alumni
				#work
					h4 Print
					#print
					h4 Web
					#website