!= partial("_shared/_navbar.jade")
#content		
	.content-body
		iframe(src="https://docs.google.com/forms/d/1kq6slzuANA5bQ8nk5rlRxc8Tthj33P6NqH3PgAxZJAA/viewform?embedded=true" scrolling="no" width="100%" height="3420px" frameborder="0" marginheight="0" marginwidth="0") Loading...
		p#message Sorry, we are not taking any requests for the time being.