.pane
  #splash-content
    #welcome.text-center Welcome to the new
    img#logo-splash(src="images/logo.svg", alt="")
    p Our team has been working hard over the past several months to overhaul our agency operations and services, and we are pleased to announce that DIDA is new and improved for Fall 2014. There are 3 main changes that we have implemented.
    .row
      .col-sm-4
        .number 1.
        p DIDA has a new look. Our new branding is consistent with our mission to be as bold and as flexible as we can in our work and our operations.
      .col-sm-4
        .number 2.
        p We have expanded our service offerings. DIDA now offers wide-ranging services in areas such as branding, graphic design, marketing strategy, web design, and multimedia production. We now have the capability of handling large multifaceted projects that span various media.  
      .col-sm-4
        .number 3.
        p DIDA now serves all recognized Duke organizations, including undergraduate and graduate student groups, and Duke departments and offices.
    p A sad result of our expansion is that we can no longer guarantee that we will accept and complete all project requests. Requests will now be evaluated every week by our project managers and will be accepted based on team interest and availability. 