.pane
  .container
    h1.text-center Welcome to the new
    #logo-home
        img(src="images/logo.svg", alt="")
    p Our team has been working hard over the past several months to overhaul our agency operations and services, and we are pleased to announce that DIDA is new and improved for Fall 2014. There are 3 main changes that we have implemented.

