.content-body
  #welcome.text-center Welcome to the new
  img#logo-splash(src="images/logo.svg", alt="")
  p Our team has been working hard over the past several months to overhaul our agency operations and services, and we are pleased to announce that DIDA is new and improved. There are 3 main changes that we have implemented.
  hr
  .row
    .col-md-4
      .number 1.
      p.descriptor.pull-left DIDA has a new look. Our new branding is consistent with our mission to be as bold and as flexible as we can in our work and our operations.
      .clearfix
    .col-md-4
      .number 2.
      p.descriptor.pull-left We have expanded our service offerings. DIDA now offers wide-ranging services in areas such as branding, graphic design, marketing strategy, web design, and multimedia production. We have the capability of handling large multifaceted projects that span various media.  
      .clearfix
    .col-md-4
      .number 3.
      p.descriptor.pull-left DIDA now serves all recognized Duke organizations, including undergraduate and graduate student groups, and Duke departments and offices.
  hr
  p A sad result of our expansion is that we can no longer guarantee that we will accept and complete all project requests. Requests will now be evaluated every week by our project managers and will be accepted based on team interest and availability. 
  button#skip Cool, let's go to the site!