nav
  ul
    #logo
      a(href="/")
        img(src="images/logo-none.svg", alt="")
    li
      a(href="/about") About
    li
      a(href="/requests") Requests
    li
      a(href="/portfolio") Portfolio