#navbar-home
  ul
    li
      a(href="/about") About
    li
      a(href="/requests") Requests
    li
     a(href="/portfolio") Portfolio
    li
      a(href="https://dukelist.duke.edu/posting/show/38601​") Join Us