html, body, .pane, #content {
	height: 100%;
}
.transition {
	-webkit-transition: all 500ms ease 1s;
	-moz-transition: all 500ms ease 1s;
	-o-transition: all 500ms ease 1s;
	transition: all 500ms ease 1s;
}
body {
	padding: 30px;
}
#content {
	border: solid 15px $orange;
	padding: 20px;
	overflow-y: scroll;
}
.container {
	padding: 20px;
}