html, body, .pane {
	height: 100%;
}

#content {
	margin-top: 20px;
}

.transition {
     -webkit-transition: all 500ms ease 1s;
    -moz-transition: all 500ms ease 1s;
    -o-transition: all 500ms ease 1s;
    transition: all 500ms ease 1s;
}