@media(max-width:767px){
	iframe {
		height: $iframe-height-xs;
	}
}
@media(min-width:768px){
	iframe {
		height: $iframe-height-sm;
	}
}
@media(min-width:992px){
	iframe {
		height: $iframe-height-md;
	}
}
@media(min-width:1200px){
	iframe {
		height: $iframe-height-lg;
	}
}
