#logo-splash {
	width: 250px;
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
}
#splash-content {
	display: block;
	margin: 0 auto;
	padding-top: 20px;
	width: 60%;
	p {
		line-height: 20px;
		font-size: 14px;
		padding: 20px 0;
	}
}
#welcome {
	font-weight: 300;
	font-size: 28px;
	padding: 20px;
}