#logo-splash {
	width: 250px;
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
}

#splash-content {
	display: block;
	margin: 0 auto;
	padding-top: 20px;
	width: 60%;

	#welcome {
		font-weight: 300;
		font-size: 28px;
		padding: 20px;
	}

	.number {
		float: left;
		font-size: 65px;
		font-weight: 900;
		line-height: 60px;
		margin-right: 20px;
		padding: 3px;
		color: $black;
		border-bottom: solid 5px $orange;
	}

	p {
		line-height: 20px;
		font-size: 14px;
		padding: 20px 0;
	}
}