html, body, .pane, #content {
	height: 100%;
}
.transition {
	-webkit-transition: all 500ms ease 1s;
	-moz-transition: all 500ms ease 1s;
	-o-transition: all 500ms ease 1s;
	transition: all 500ms ease 1s;
}
body {
	padding: 15px;
}
#content {
	border: solid 15px $orange;
	padding: 20px;
	overflow-y: scroll;
	.content-body {
		margin-top: 90px;
		margin-left: auto;
		margin-right: auto;
	}
}
.container {
	padding: 20px;
}
form {
	.form-control {
		border-radius: 0;
		&:focus {
			box-shadow: none;
			border: 1px solid $orange;
		}
	}
}
label {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 14px;
	letter-spacing: 1px;
	color: $black;
}
button {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 18px;
	color: $black;
	background: none;
	border: none;
	@include hover-underline;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
	background: $orange !important;
}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
	background: lighten($orange, 40%) !important;
	color: #aaaaaa !important;
}
.bootstrap-switch-focused {
	box-shadow: none !important;
	border-color: $orange !important;
}
@media(max-width:767px){
	.content-body {
		width: $content-width-xs;
	}
}
@media(min-width:768px){
	.content-body {
		width: $content-width-sm;
	}
}
@media(min-width:992px){
	.content-body {
		width: $content-width-md;
	}
}
@media(min-width:1200px){
	.content-body {
		width: $content-width-lg;
	}
}
hr {
	border-top: 1px dashed $orange;
}