@mixin vertical-align(){
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin hover-underline(){
	&:hover {
			text-decoration: none;
			cursor: pointer;
			margin-top: -3px;
		}
		&:after {
			content: '';
			display: block;
			margin: 0 auto;
			width: 0;
			height: 3px;
		}
		&:hover:after {
			content: '';
			display: block;
			margin: 0 auto;
			width: inherit;
			height: 3px;
			background-color: $orange;
			-webkit-transition: width .5s, background-color .5s;
			transition: width .5s, background-color .5s;
			-webkit-transform: .5s ease-in;
			transform: .5s ease-in;
		}
}

@mixin nav-font() {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 18px;
	letter-spacing: 2px;
	color: $black;
}