$content-width-lg: 50%;
$content-width-md: 75%;
$content-width-sm: 85%;
$content-width-xs: 100%;

$descriptor-width-lg: 100%;
$descriptor-width-md: 80%;

$iframe-height-lg: 3900px;
$iframe-height-md: 3850px;
$iframe-height-sm: 3900px;
$iframe-height-xs: 4700px;