#logo-splash {
	width: 250px;
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
}
#splash {
	display: block;
	margin: 0 auto;
	.content-body {
		margin: 0 auto;
	}
}
#welcome {
	font-weight: 300;
	font-size: 28px;
	padding: 0 20px 20px 20px;
}
#skip {
	margin: 30px auto;
	display: block;
}